/* montserrat-regular - latin */
/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/dancing/dancing-script-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/dancing/dancing-script-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dancing/dancing-script-v15-latin-regular.woff2") format("woff2"), url("fonts/dancing/dancing-script-v15-latin-regular.woff") format("woff"), url("fonts/dancing/dancing-script-v15-latin-regular.ttf") format("truetype"), url("fonts/dancing/dancing-script-v15-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("fonts/montserrat/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-v14-latin-regular.woff2") format("woff2"), url("fonts/montserrat/montserrat-v14-latin-regular.woff") format("woff"), url("fonts/montserrat/montserrat-v14-latin-regular.ttf") format("truetype"), url("fonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/montserrat/montserrat-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("fonts/montserrat/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-v14-latin-700.woff2") format("woff2"), url("fonts/montserrat/montserrat-v14-latin-700.woff") format("woff"), url("fonts/montserrat/montserrat-v14-latin-700.ttf") format("truetype"), url("fonts/montserrat/montserrat-v14-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Devonshire';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.woff2") format("woff2"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.woff") format("woff"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.ttf") format("truetype"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.woff2") format("woff2"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.woff") format("woff"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.ttf") format("truetype"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.woff") format("woff"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("fonts/kaushan-script-v8-latinkaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Croissant One';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Croissant One"), local("CroissantOne-Regular"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.woff2") format("woff2"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.woff") format("woff"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.ttf") format("truetype"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.svg#CroissantOne") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Khmer';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.eot");
  /* IE9 Compat Modes */
  src: local("Khmer"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.eot?#iefix") format("embedded-opentype"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.woff2") format("woff2"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.woff") format("woff"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.ttf") format("truetype"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.svg#Khmer") format("svg");
  /* Legacy iOS */
}

@-webkit-keyframes ptsSuspension {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(17px);
            transform: translateY(17px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes ptsSuspension {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(17px);
            transform: translateY(17px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

@keyframes headshake {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

#conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

#ligne1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

#ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

#menu1, #menu2, #menu3, #menu4 {
  -webkit-box-shadow: 1px 1px 15px rgba(214, 214, 214, 0.74);
          box-shadow: 1px 1px 15px rgba(214, 214, 214, 0.74);
}

.zoom {
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
}

#menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 160px;
  background: #fcdfdb;
}

#menu1 i {
  font-size: 1.8em;
  background: -webkit-gradient(linear, left top, right top, from(#f0443e), to(#f78f6a));
  background: linear-gradient(to right, #f0443e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu1 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  font-family: 'Devonshire';
  font-size: 2.6em;
  color: #3c1218;
}

#menu1 p {
  margin-top: 38px;
  text-align: center;
  font-size: 3em;
  font-family: 'bradley hand';
  color: #2e0e13;
}

#menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 102px;
  margin-right: 161px;
  background: #fff5fe;
}

#menu2 h2 {
  font-weight: 100;
  font-family: 'Croissant One';
  font-size: 1.8em;
  background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#8f5bfe));
  background: linear-gradient(to bottom right, #e38a12, #8f5bfe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu2 p {
  color: #c77412;
  text-align: center;
  font-size: 3em;
}

#menu3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 160px;
  background: #F9F9F9;
}

#menu3 h2 {
  font-weight: 200;
  font-family: 'Dancing Script';
  padding-left: 12px;
  font-size: 3.1em;
  background: -webkit-gradient(linear, left top, right bottom, from(#0431df), to(#0887fb));
  background: linear-gradient(to bottom right, #0431df, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu3 p {
  text-align: center;
  font-size: 3em;
  color: #0887fb;
  font-family: bradley hand;
}

#menu4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 102px;
  margin-right: 161px;
  background: #fdfffd;
}

#menu4 h2 {
  font-weight: 100;
  font-family: 'Kaushan Script';
  font-size: 2.9em;
  padding-right: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(#3d9339), to(#d2fea8));
  background: linear-gradient(to bottom right, #3d9339, #d2fea8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu4 p {
  text-align: center;
  font-size: 3em;
  color: #72bf56;
  font-family: bradley hand;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin-top: 90px;
  background: #569c87;
  color: #fdcb46;
  width: 645px;
  height: 118px;
  border-radius: 20px;
  font-size: 4em;
}

button span {
  background: #fdcb46;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  -webkit-animation: ptsSuspension ease-in-out 800ms infinite;
          animation: ptsSuspension ease-in-out 800ms infinite;
}

button span:nth-child(2) {
  background: #fdcb46;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  -webkit-animation: ptsSuspension ease-in-out 800ms 200ms infinite;
          animation: ptsSuspension ease-in-out 800ms 200ms infinite;
}

button span:nth-child(3) {
  background: #fdcb46;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  -webkit-animation: ptsSuspension ease-in-out 800ms 400ms infinite;
          animation: ptsSuspension ease-in-out 800ms 400ms infinite;
}

#conteneur1 {
  width: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 85px 0px 100px 0px;
  margin-bottom: 200px;
  background: #fad7d3;
  -webkit-box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
          box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
  color: #2e0e13;
}

#conteneur1 p {
  margin: 0px 0px 30px 0px;
}

#conteneur1 h2 {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Dancing Script';
}

#entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#findepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

#findepage h2 {
  font-size: 3em;
  font-family: 'Dancing Script';
  margin: 0px;
  padding-left: 15px;
}

#findepage .fas {
  font-size: 2.5em;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#f0443e), to(#f78f6a));
  background: linear-gradient(to right, #f0443e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titre {
  position: relative;
  background: linear-gradient(to top, #2e0e13 0%, #2e0e13 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size ease-in-out 500ms;
  transition: background-size ease-in-out 500ms;
}

.titre:hover {
  background-size: 100% 100%;
}

section h3 {
  font-size: 2.2em;
  font-weight: 200;
  font-family: comic sans ms;
}

section .fas {
  font-size: 6.75em;
  background: -webkit-gradient(linear, left top, right top, from(#f0443e), to(#f78f6a));
  background: linear-gradient(to right, #f0443e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 288px;
}

#entree, #plat, #dessert {
  width: 80%;
}

#entree, #plat {
  margin-bottom: 50px;
}

article .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7em;
  letter-spacing: 1.4px;
}

article .text {
  font-family: Bradley hand;
}

body {
  width: auto;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 235px;
  background: #569c87;
  border-bottom: 2px solid #a1c181;
}

header h1 {
  font-family: 'Montserrat';
  font-size: 4.7em;
  margin: 0px;
  text-align: center;
  color: #fdcb46;
}

header a {
  color: #fdcb46;
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #569c87;
  border-top: 2px solid #a1c181;
  bottom: 0px;
}

footer a {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 3em;
  color: #fdcb46;
}

footer p:hover {
  -webkit-animation: headshake 400ms infinite;
          animation: headshake 400ms infinite;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

main h2 {
  font-size: 3.7em;
  font-family: Helvetica;
}

#conteneur2 {
  width: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 85px 0px 100px 0px;
  margin-bottom: 200px;
  background: #fff5fe;
  -webkit-box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
          box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
}

#conteneur2 p {
  margin: 0px 0px 30px 0px;
}

#conteneur2 h2 {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'georgla';
  background: -webkit-gradient(linear, left top, right bottom, from(#e38a12), to(#8f5bfe));
  background: linear-gradient(to bottom right, #e38a12, #8f5bfe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
}

#entree2, #plat2, #dessert2 {
  width: 90%;
}

.description2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description2 .plat2 {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7em;
  letter-spacing: 1.2px;
}

#entree2 {
  color: #c67412;
}

#entree2 .titre2 {
  position: relative;
  background: linear-gradient(to top, #c67412 0%, #c67412 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 500ms;
  transition: background-size 500ms;
}

#entree2 .titre2:hover {
  background-size: 100% 100%;
}

#plat2 {
  color: #a56799;
}

#plat2 .titre2 {
  position: relative;
  background: linear-gradient(to top, #a56799 0%, #a56799 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size  500ms;
  transition: background-size  500ms;
}

#plat2 .titre2:hover {
  background-size: 100% 100%;
}

#dessert2 {
  color: #6e4ccc;
}

#dessert2 .titre2 {
  position: relative;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size  500ms;
  transition: background-size  500ms;
}

#dessert2 .titre2:hover {
  background-size: 100% 100%;
}
/*# sourceMappingURL=style.css.map */