header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 235px;
    background: $colorFondPrincipal;
    border-bottom: 2px solid #a1c181;
    h1{
      font-family: 'Montserrat';
      font-size: 4.7em;
      margin: 0px ;
      text-align: center;
      color : $colorTextPrincipal;
    }
    a{
      color:$colorTextPrincipal;
    }
  }
  