@charset "UTF-8";
/* montserrat-regular - latin */
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/dancing/dancing-script-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/dancing/dancing-script-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dancing/dancing-script-v15-latin-regular.woff2") format("woff2"), url("fonts/dancing/dancing-script-v15-latin-regular.woff") format("woff"), url("fonts/dancing/dancing-script-v15-latin-regular.ttf") format("truetype"), url("fonts/dancing/dancing-script-v15-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("fonts/montserrat/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-v14-latin-regular.woff2") format("woff2"), url("fonts/montserrat/montserrat-v14-latin-regular.woff") format("woff"), url("fonts/montserrat/montserrat-v14-latin-regular.ttf") format("truetype"), url("fonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/montserrat/montserrat-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("fonts/montserrat/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-v14-latin-700.woff2") format("woff2"), url("fonts/montserrat/montserrat-v14-latin-700.woff") format("woff"), url("fonts/montserrat/montserrat-v14-latin-700.ttf") format("truetype"), url("fonts/montserrat/montserrat-v14-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.woff2") format("woff2"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.woff") format("woff"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.ttf") format("truetype"), url("fonts/devonshire-v8-latin/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.woff2") format("woff2"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.woff") format("woff"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.ttf") format("truetype"), url("fonts/dancing-script-v14/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.woff") format("woff"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("fonts/kaushan-script-v8-latin/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("fonts/kaushan-script-v8-latinkaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Croissant One";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Croissant One"), local("CroissantOne-Regular"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.woff2") format("woff2"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.woff") format("woff"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.ttf") format("truetype"), url("fonts/croissant-one-v7/croissant-one-v7-latin-regular.svg#CroissantOne") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Khmer";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.eot");
  /* IE9 Compat Modes */
  src: local("Khmer"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.eot?#iefix") format("embedded-opentype"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.woff2") format("woff2"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.woff") format("woff"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.ttf") format("truetype"), url("fonts/khmer-v12-khmer/khmer-v12-khmer-regular.svg#Khmer") format("svg");
  /* Legacy iOS */
}
/*background index*/
/*menu1*/
@keyframes ptsSuspension {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(17px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
#conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

#ligne1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#ligne2 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

#menu4, #menu3, #menu2, #menu1 {
  box-shadow: 1px 1px 15px rgba(214, 214, 214, 0.74);
}

.zoom {
  transition: all ease-in-out 400ms;
}
.zoom:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

#menu1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 160px;
  background: #fcdfdb;
}
#menu1 i {
  font-size: 1.8em;
  background: linear-gradient(to right, #f0443e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu1 h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-family: "Devonshire";
  font-size: 2.6em;
  color: #3c1218;
}
#menu1 p {
  margin-top: 38px;
  text-align: center;
  font-size: 3em;
  font-family: "bradley hand";
  color: #2e0e13;
}

#menu2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 102px;
  margin-right: 161px;
  background: #fff5fe;
}
#menu2 h2 {
  background: linear-gradient(to bottom, #e38a12, #8f5bfe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
  font-family: "Croissant One";
  font-size: 1.8em;
}
#menu2 p {
  color: #c77412;
  text-align: center;
  font-size: 3em;
}

#menu3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 160px;
  background: #F9F9F9;
}
#menu3 h2 {
  font-weight: 200;
  font-family: "Dancing Script";
  padding-left: 12px;
  font-size: 3.1em;
  background: linear-gradient(to bottom right, #001ed9, #1a91fb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu3 p {
  text-align: center;
  font-size: 3em;
  color: #0887fb;
  font-family: bradley hand;
}

#menu4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 536px;
  height: 760px;
  margin-left: 102px;
  margin-right: 161px;
  background: #fdfffd;
}
#menu4 h2 {
  font-weight: 100;
  font-family: "Kaushan Script";
  font-size: 2.9em;
  padding-right: 10px;
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu4 p {
  text-align: center;
  font-size: 3em;
  color: #72bf56;
  font-family: bradley hand;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 90px;
  background: #569c87;
  color: #fdcb46;
  width: 645px;
  height: 118px;
  border-radius: 20px;
  font-size: 4em;
}
button span {
  background: #fdcb46;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  animation: ptsSuspension ease-in-out 800ms infinite;
}
button span:nth-child(2) {
  background: #fdcb46;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  animation: ptsSuspension ease-in-out 800ms 200ms infinite;
}
button span:nth-child(3) {
  background: #fdcb46;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  animation: ptsSuspension ease-in-out 800ms 400ms infinite;
}

/*général*/
.intitulé {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Menu 1 */
#entete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#conteneur1 {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 100px 0px;
  margin-bottom: 200px;
  background: #fad7d3;
  box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
  color: #2e0e13;
}
#conteneur1 p {
  margin: 0px 0px 30px 0px;
}
#conteneur1 h2 {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Dancing Script";
}
#conteneur1 h3 {
  font-size: 2.2em;
  font-weight: 200;
  font-family: comic sans ms;
}

.entree1__titre, .plat1__titre, .dessert1__titre {
  position: relative;
  background: linear-gradient(to top, #2e0e13 0%, #2e0e13 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 500ms;
}
.entree1__titre:hover, .plat1__titre:hover, .dessert1__titre:hover {
  background-size: 100% 100%;
}

#findepage {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#findepage h2 {
  font-size: 3em;
  font-family: "Dancing Script";
  margin: 0px;
  padding-left: 15px;
}
#findepage .fas {
  font-size: 2.5em;
  margin-top: 10px;
  background: linear-gradient(to right, #f0443e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .fas {
  font-size: 6.75em;
  background: linear-gradient(to right, #f0443e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section img {
  justify-content: start;
  width: 288px;
}

.entree1, .plat1, .dessert1 {
  width: 80%;
}

.entree1, .plat1 {
  margin-bottom: 50px;
}

article .plat {
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  letter-spacing: 1.4px;
}
article .text {
  font-family: Bradley hand;
}

/* menu 2*/
#conteneur2 {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 180px 0px;
  margin-bottom: 200px;
  background: #fff5fe;
  box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
}
#conteneur2 p {
  margin: 0px 0px 30px 0px;
}
#conteneur2 h2 {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "georgla";
  background: linear-gradient(to bottom right, #e38a12, #8f5bfe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
}
#conteneur2 h3 {
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 2px;
}

.entree2, .plat2, .dessert2 {
  width: 90%;
}

.description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description2 .plat2 {
  width: 76%;
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  letter-spacing: 1.2px;
}

.entree2 {
  color: #c67412;
}
.entree2__titre {
  position: relative;
  background: linear-gradient(to top, #c67412 0%, #c67412 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 500ms;
}
.entree2__titre:hover {
  background-size: 100% 100%;
}

.plat2 {
  color: #a56799;
}
.plat2__titre {
  position: relative;
  background: linear-gradient(to top, #a56799 0%, #a56799 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 500ms;
}
.plat2__titre:hover {
  background-size: 100% 100%;
}

.dessert2 {
  color: #6e4ccc;
}
.dessert2__titre {
  position: relative;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 500ms;
}
.dessert2__titre:hover {
  background-size: 100% 100%;
}

/*Menu 3*/
#conteneur3 {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 180px 0px;
  margin-bottom: 200px;
  background: #fff5fe;
  box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
}
#conteneur3 p {
  margin: 0px 0px 30px 0px;
}
#conteneur3 h2 {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  font-family: "Dancing Script";
  background: linear-gradient(to bottom right, #001ed9, #1a91fb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
}
#conteneur3 h3 {
  margin-top: 100px;
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-size: 2.2em;
  font-weight: 200;
  font-family: comic sans ms;
}

.entree3, .plat3, .dessert3 {
  width: 90%;
}

.description3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description3 .plat3 {
  width: 76%;
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  letter-spacing: 1.2px;
}
.description3 .plat3__text {
  font-family: Bradley hand;
}

.entree3__titre, .plat3__titre, .dessert3__titre {
  position: relative;
  background: linear-gradient(to top, black 0%, black 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 500ms;
}
.entree3__titre:hover, .plat3__titre:hover, .dessert3__titre:hover {
  background-size: 100% 100%;
}

#conteneur4 {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 180px 0px;
  margin-bottom: 200px;
  background: #fdfffd;
  box-shadow: 1px 1px 25px rgba(214, 214, 214, 0.932);
}
#conteneur4 p {
  margin: 0px 0px 30px 0px;
}
#conteneur4 h2 {
  font-size: 4.5em;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  font-family: "Kaushan Script";
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 4px;
}
#conteneur4 h3 {
  margin-top: 100px;
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-size: 2.3em;
  font-weight: 200;
}

.entree4, .plat4, .dessert4 {
  width: 90%;
}

.description4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description4 .plat4 {
  width: 82%;
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
}
.description4 .plat4__text {
  font-family: Bradley hand;
}

.entree4__titre, .plat4__titre, .dessert4__titre {
  position: relative;
  background: linear-gradient(to top, black 0%, black 3px, transparent 4px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 500ms;
}
.entree4__titre:hover, .plat4__titre:hover, .dessert4__titre:hover {
  background-size: 100% 100%;
}

body {
  width: auto;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 235px;
  background: #569c87;
  border-bottom: 2px solid #a1c181;
}
header h1 {
  font-family: "Montserrat";
  font-size: 4.7em;
  margin: 0px;
  text-align: center;
  color: #fdcb46;
}
header a {
  color: #fdcb46;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  align-items: center;
  background-color: #569c87;
  border-top: 2px solid #a1c181;
  bottom: 0px;
}
footer a {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 3em;
  color: #fdcb46;
}
footer p:hover {
  animation: headshake 400ms infinite;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
main h2 {
  font-size: 3.7em;
  font-family: Helvetica;
}

/*# sourceMappingURL=style.css.map */
