
#conteneur{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px; 
    section{
        @media #{$large-down}{
            margin-left:0px;
            margin-right: 0px; 
            margin-top: 50px;
            height: 500px;
        }
        @media #{$medium-down}{
            width: 320px;
            height: 400px;
        }
    }
}
.ligne{
    display: flex;
    justify-content: space-around;    
    margin-top:100px;
    @media #{$large-down}{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
}
%shadow{
    box-shadow:1px 1px 15px rgba(214, 214, 214, 0.74);
}  
.zoom{
    transition: all ease-in-out 400ms ;
    &:hover{
        transform: scale(1.1);
        opacity: 0.6;
    }
}
.repas{
    @extend %shadow;
    @include carreMenu;
    h2{
        font-size: 2.8em;
        font-weight: 100;
    }
    p{
        text-align: center;
        font-size: 3em;
    } 
    @include tailleTablette(2em, 2.5em,1em);
} 
#repas1{
    background: $colorBackMenu1;
    i{
        font-size: 1.8em ;
        @include degrade (right, #f0443e, #f78f6a);
    }
    h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Devonshire';
        color: $colorMenu1;
    }
    p{
        margin-top: 38px;
        font-family: 'bradley hand';
        color: $colorTextMenu1;
    }
    @include tailleTablette(2em, 2.7em, 1em);
}
#repas2{
    background:$colorBackMenu2 ;
    h2{ 
        font-size: 2.2em;
        @include degrade (bottom right, $colorTextMenu2a, $colorTextMenu2b);
        font-family: 'Croissant One';
    }
    p{
        color : $colorMenu2;
    }
    @media #{$large-down}{
        h2{
            font-size: 1.5em;
        }
    }
   
}
#repas3{
    background: $colorBackMenu3;
    h2{
        font-family: 'Dancing Script';
        padding-left: 12px;
        @include degrade (bottom right, $colorTextMenu3a, $colorTextMenu3b);
    }
    p{
        color:$colorMenu3;
        font-family:'bradley hand';
    } 
    @include tailleTablette(2em, 2.5em,1em);
}
#repas4{
    background: $colorBackMenu4;
    h2{
      font-family: 'Kaushan Script';
      padding-right: 10px;
      @include degrade(bottom right, $colorTextMenu4a, $colorTextMenu4b)
    }
    p{
      color:$colorMenu4;
      font-family:'bradley hand';
    }
    @include tailleTablette(2em, 2.7em, 1em); 
}  
.btn{
    display: flex;
    justify-content : center;
}
button{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top:90px ;
    background: $colorFondPrincipal;
    color: $colorTextPrincipal;
    width: 645px;
    height:118px;
    border-radius: 20px;
    font-size: 4em;     
    span{
      margin-left: 5px;
      animation: ptsSuspension ease-in-out 800ms infinite;
    }
    span:nth-child(2){
      animation: ptsSuspension ease-in-out 800ms 200ms infinite ;
    }
    span:nth-child(3){
    animation: ptsSuspension ease-in-out 800ms 400ms infinite;
    }
    @media #{$medium-down}{
        width: 320px;
        font-size: 2.5em;
    }
}
