/*général*/
.intitule{
  display: flex;
  justify-content: space-between;
  align-items: center;

}  
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
    h2{
      font-size: 3.7em;
      font-family: Helvetica;
    } 
    @media #{$medium-down}{
      h2{
        font-size: 2em;
      }
    }
  }
  
/*Menu 1 */
#entete{
  display: flex;
  flex-direction: column;
  align-items: center;
}  
#conteneur1{  
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 100px 0px;
  margin-bottom: 200px;
  background: $colorFondMenu1;
  box-shadow:1px 1px 25px rgba(214, 214, 214, 0.932);
  color:$colorTextMenu1; 
  p{
    margin: 0px 0px 30px 0px;
  }
  h2{
    font-size: 4.5em;
    margin-top:20px;
    margin-bottom: 40px;
    font-family: 'Dancing Script';
  } 
  h3{
    font-size: 2.2em;
    font-weight: 200;
    font-family: comic sans ms;
  }
  @media #{$large-down}{
    h2{
        font-size: 3.5em;
      }
    img{
      width: 100px;
    }
  }
  @media #{$medium-down}{
    width: 95%;
    h2{
      font-size: 2em;
    }
    h3{
      margin-top: 0px;
      font-size: 1.4em;
    }
    img{
      width: 60px;
    }
    p{
      margin: 0px 0px 0px 15px;
    }
  }
}  

#findepage{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  h2{
    font-size: 3em;    
    font-family: 'Dancing Script';
    margin:0px;
    padding-left: 15px;
  }
  .fas{ 
    font-size:2.5em;
    margin-top:10px;
    @include degrade(right, #f0443e, #f78f6a);
  }
  @media #{$medium-down}{
    h2{
      font-size: 2em;
    }
    .fas{
      margin-top: 0px;
    }
  }
}
section{
  .fas{ 
    font-size: 6.75em;
    @include degrade(right, #f0443e, #f78f6a);
  }
  img{
    justify-content: start;
    width: 288px;
  }
}
.entree1, .plat1, .dessert1{
  width: 80%;
  &__titre{
    @include surligne($colorTextMenu1);
  }
  @media #{$medium-down}{
    width: 95%;
  }
}
.entree1, .plat1{
  margin-bottom: 50px;
  @media #{$medium-down}{
  margin-bottom:0px;
  }
}
article{
  .plat{
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    letter-spacing: 1.4px;
  }
  .text{
    font-family: Bradley hand;   
  }
  @media #{$medium-down}{
    .plat{
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1.4em;
    margin-bottom: 40px;
    }
  }
}
    
/* menu 2*/   
#conteneur2{  
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 180px 0px;
  margin-bottom: 200px;
  background: $colorBackMenu2;
  box-shadow:1px 1px 25px rgba(214, 214, 214, 0.932);
  p{
    margin: 0px 0px 30px 0px;
  }
  h2{
    font-size: 4.5em;
    margin-top:20px;
    margin-bottom: 30px;
    font-family: 'georgla';
    @include degrade (bottom right, $colorTextMenu2a, $colorTextMenu2b);
    letter-spacing: 4px;
  }
  h3{
    margin-top:100px;
    margin-bottom: 60px;
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 2px;
  }

  @media #{$large-down}{
    padding : 40px 0px 50px 0px ;
    h2{
        font-size: 3.5em;
      }
    h3{
      text-align: center;
      margin-top: 0px;
      margin-bottom: 40px;
      font-size: 2em;
    }  
    img{
      width: 100px;
    }
  }
  @media #{$medium-down}{
    width: 95%;
    h2{
      font-size: 1.8em;
    }
    h3{
      font-size: 1.5em;
    }
    img{
      width: 60px;
    }
    p{
      margin: 0px 0px 0px 15px;
    }
  }
}
.entree2, .plat2, .dessert2{
  width: 90%;
  @media #{$medium-down}{
    width: 95%;
  }
}
.description2{
  display: flex;
  flex-direction: column;
  align-items: center;
  .plat2{
    width: 76%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    letter-spacing: 1.2px;
  }
  @media #{$large-down}{
    .plat2{
      width: 90%;
    font-size: 1.5em;

  }}
  @media #{$medium-down}{
    .plat2{
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1.4em;
    margin-bottom: 40px;
    }
  }
} 
.entree2{
    color: $colorEntreeMenu2;
  &__titre{
    @include surligne($colorEntreeMenu2);
  }
}
.plat2{
  color: $colorPlatMenu2;
  &__titre{
    @include surligne($colorPlatMenu2);
  }
}
.dessert2{
  color:$colorDessertMenu2;
  &__titre{
    @include surligne($colorDessertMenu2);
  }
}

/*Menu 3*/

#conteneur3{  
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 180px 0px;
  margin-bottom: 200px;
  background: $colorBackMenu2;
  box-shadow:1px 1px 25px rgba(214, 214, 214, 0.932);
  p{
    margin: 0px 0px 30px 0px;
  }
  h2{
    font-size: 4.5em;
    margin-top:20px;
    margin-bottom: 30px;
    padding-left : 10px;
    font-family: 'Dancing Script';
    @include degrade (bottom right, $colorTextMenu3a, $colorTextMenu3b);
    letter-spacing: 4px;
  }
  h3{
    margin-top:100px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-size: 2.2em;
    font-weight: 200;
    font-family: comic sans ms;
  }
}
.entree3, .plat3, .dessert3{
  width: 90%;
}
.description3{
  display: flex;
  flex-direction: column;
  align-items: center;
  .plat3{
    width: 76%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    letter-spacing: 1.2px;
    &__text{
      font-family: Bradley hand;
    }
  }
} 
.entree3, .plat3, .dessert3{
  &__titre{
    @include surligne(black);
  }
}



#conteneur4{  
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 180px 0px;
  margin-bottom: 200px;
  background: $colorBackMenu4;
  box-shadow:1px 1px 25px rgba(214, 214, 214, 0.932);
  p{
    margin: 0px 0px 30px 0px;
  }
  h2{
    font-size: 4.5em;
    margin-top:20px;
    margin-bottom: 30px;
    padding-left : 10px;
    font-family: 'Kaushan Script';
    @include degrade (bottom right, $colorTextMenu4a, $colorTextMenu4b);
    letter-spacing: 4px;
  }
  h3{
    margin-top:100px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-size: 2.3em;
    font-weight: 200;

  }
}
.entree4, .plat4, .dessert4{
  width: 90%;
}
.description4{
  display: flex;
  flex-direction: column;
  align-items: center;
  .plat4{
    width: 82%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;

    &__text{
      font-family: Bradley hand;
    }
  }
} 
.entree4, .plat4, .dessert4{
  &__titre{
    @include surligne(black);
  }
}