/*général*/
.intitule{
  display: flex;
  justify-content: space-between;
  align-items: center;
}  
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  h2{
    font-size: 3.7em;
    font-family: Helvetica;
  } 
  @media #{$medium-down}{
    h2{
      font-size: 1.8em;
      text-align: center;
    }
  }
}
.menu{

  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 100px 0px;
  margin-bottom: 200px;
  box-shadow:1px 1px 25px rgba(214, 214, 214, 0.932);
  p{
    margin: 0px 0px 30px 0px;
  }
  h2{
    font-size: 4.5em;
    margin-top:20px;
    margin-bottom: 40px;
  } 
  h3{
    margin-top:100px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-size: 2.4em;
    font-weight: 200;
  }  
  @media #{$large-down}{
    .ligneDuMenu{
    flex-direction: column;
    align-items: center;}
    h2{
      text-align: center;
      font-size: 3.5em;
      }
    img{
      width: 100px;
    }
    h3{
      font-size: 2.2em;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  @media #{$medium-down}{
    padding: 55px 0px 100px 0px;
    width: 95%;
    h2{
      font-size: 2.2em;
    }
    h3{
      font-size: 1.5em;
    }
    img{
      width: 60px;
    }
    p{
      margin: 0px 0px 10px 15px;
    }
  }
}
#carte{
  width: 90%;
  @media #{$medium-down}{
    width: 95%;
  }
}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  .ligneDuMenu{
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    @media #{$large-down}{
      width: 90%;
      font-size: 1.5em;
    }
    @media #{$medium-down}{
      flex-direction: column-reverse;
      font-size: 1.1em;
      text-align: center;
      margin-bottom: 20px;
      p{
        margin-left: 0px;
      }
    }  
  }
}
section{
  .fas{ 
    font-size: 6.75em;
    @include degrade(right, #f0443e, #f78f6a);
  }
  img{
    justify-content: start;
    width: 288px;
  }
}
/*Menu 1 */
#entete{
  display: flex;
  flex-direction: column;
  align-items: center;
}  
#menu1{  
  background: $colorFondMenu1;
  color:$colorTextMenu1; 
  h2{
    font-family: 'Dancing Script';
  } 
  h3{
    margin : 0px 0px 0px 0px;
    font-weight: 200;
    font-family: 'comic sans ms';
  }
}  
.ligneDuMenu1{
  width: 100%;
}
#findepage{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  h2{
    font-size: 3em;    
    font-family: 'Dancing Script';
    margin:0px;
    padding-left: 15px;
  }
  .fas{ 
    font-size:2.5em;
    margin-top:10px;
    @include degrade(right, #f0443e, #f78f6a);
  }
  @media #{$medium-down}{
    h2{
      font-size: 2em;
    }
    .fas{
      margin-top: 0px;
    }
  }
}

.entree1, .plat1, .dessert1{
  &__titre{
    @include surligne($colorTextMenu1);
  }

}
.description{
  .text{
    font-family: 'Bradley hand';   
  }
}
/* menu 2*/   
#menu2{  
  background: $colorBackMenu2;
  h2{
    font-family: 'georgla';
    @include degrade (bottom right, $colorTextMenu2a, $colorTextMenu2b);
    letter-spacing: 4px;
  }
  h3{
    font-weight: 100;
  }
}
.description{
    .ligneDuMenu2{
    letter-spacing: 1.2px;
  }
} 
.entree2{
    color: $colorEntreeMenu2;
  &__titre{
    @include surligne($colorEntreeMenu2);
  }
}
.plat2{
  color: $colorPlatMenu2;
  &__titre{
    @include surligne($colorPlatMenu2);
  }
}
.dessert2{
  color:$colorDessertMenu2;
  &__titre{
    @include surligne($colorDessertMenu2);
  }
}
/*Menu 3*/
#menu3{  
    background: $colorBackMenu2;
  h2{
    font-family: 'Dancing Script';
    @include degrade (bottom right, $colorTextMenu3a, $colorTextMenu3b);
    letter-spacing: 4px;
  }
  h3{
    font-size: 1.4em;
    font-family: 'comic sans ms';
  }
}
.description{
  .plat3{
    letter-spacing: 1.2px;
    &__text{
      font-family: 'Bradley hand';
    }
  }
} 
.entree3, .plat3, .dessert3{
  &__titre{
    @include surligne(black);
  }
}
#menu4{  
  background: $colorBackMenu4;
  h2{
    font-family: 'Kaushan Script';
    @include degrade (bottom right, $colorTextMenu4a, $colorTextMenu4b);
    letter-spacing: 4px;
  }
}
.description{
  .plat4{
    &__text{
      font-family: Bradley hand;
    }
  }
} 
.entree4, .plat4, .dessert4{
  &__titre{
    @include surligne(black);
  }
}