
#conteneur{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px; 
}
#ligne1{
    display: flex;
    justify-content: center;    
    margin-top:100px;
}
#ligne2{
  display: flex;
  justify-content: center;
  margin-top:90px;
}
%shadow{
    box-shadow:1px 1px 15px rgba(214, 214, 214, 0.74);
}  
.zoom{
    transition: all ease-in-out 400ms ;
    &:hover{
        transform: scale(1.1);
        opacity: 0.6;
    }
}  
#menu1{
    @extend %shadow;
    @include carreMenu;
    margin-left: 160px;
    background: $colorBackMenu1;
    i{
        font-size: 1.8em ;
        @include degrade (right, #f0443e, #f78f6a);
    }
    h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
        font-family: 'Devonshire';
        font-size: 2.6em;
        color: $colorMenu1;
    }
    p{
        margin-top: 38px;
        text-align: center;
        font-size: 3em;
        font-family: 'bradley hand';
        color: $colorTextMenu1;
    }
}

#menu2{
    @extend %shadow;
    @include carreMenu;
    margin-left: 102px;
    margin-right:161px;
    background:$colorBackMenu2 ;
    h2{ 
        @include degrade (bottom , $colorTextMenu2a, $colorTextMenu2b);
        font-weight: 100;
        font-family: 'Croissant One';
        font-size: 1.8em;
    }
    p{
        color : $colorMenu2;
        text-align: center;
        font-size: 3em;
    }
}
  
#menu3{
    @extend %shadow;
    @include carreMenu;
    margin-left : 160px;
    background: $colorBackMenu3;
    h2{
        font-weight: 200;
        font-family: 'Dancing Script';
        padding-left: 12px;
        font-size: 3.1em;
        @include degrade (bottom right, $colorTextMenu3a, $colorTextMenu3b);
    }
    p{
        text-align: center;
        font-size: 3em;
        color:$colorMenu3;
        font-family:bradley hand ;
    
    } 
}
#menu4{
    @extend %shadow;
    @include carreMenu;
    margin-left: 102px;
    margin-right: 161px;
    background: $colorBackMenu4;
    h2{
      font-weight: 100;
      font-family: 'Kaushan Script';
      font-size :2.9em;
      padding-right: 10px;
      @include degrade(bottom right, $colorTextMenu4a, $colorTextMenu4b)
    }
  
    p{
      text-align: center;
      font-size: 3em;
      color:$colorMenu4;
      font-family:bradley hand ;
    }
}
  
button{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top:90px ;
    background: $colorFondPrincipal;
    color: $colorTextPrincipal;
    width: 645px;
    height:118px;
    border-radius: 20px;
    font-size: 4em;     
    span{
      background: $colorTextPrincipal;
      border-radius: 50px;
      width: 15px;
      height: 15px;
      margin-left: 5px;
      animation: ptsSuspension ease-in-out 800ms infinite;
    }
    span:nth-child(2){
      background: $colorTextPrincipal;
      border-radius: 50px;
      width: 15px;
      height: 15px;
      animation: ptsSuspension ease-in-out 800ms 200ms infinite ;
    }
    span:nth-child(3){
      background: $colorTextPrincipal;
      border-radius: 50px;
      width: 15px;
      height: 15px;
      animation: ptsSuspension ease-in-out 800ms 400ms infinite;
      }
}