@keyframes ptsSuspension{
    0%{
      transform : translateY(10px);
    }
     50%{
       transform: translateY(17px);    
     }
     100%{
       transform : translateY(10px);
     }
   }
$shake-intensite:1%;
@keyframes headshake{
  25%{
    transform: translateX($shake-intensite);
  }
  75%{
    transform: translateX(-$shake-intensite);
  }
}

