@mixin carreMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 536px;
    height : 760px;

}
@mixin degrade($sens, $colour1, $colour2){
    background:linear-gradient(to $sens, $colour1, $colour2);
    background-clip: border-box; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin zoom {
    transition: all ease-in-out 400ms ;
    &:hover{
        transform: scale(1.1);
        opacity: 0.6;
    }
}
@mixin surligne($colour){
    position: relative;
    background: linear-gradient(to top, $colour 0%, $colour 3px, transparent 4px) no-repeat;
    background-size: 0% 100%;
    transition: background-size  500ms;
        &:hover{
        background-size:100% 100% ;
        }
}
@mixin tailleTablette($tailleH, $tailleP, $tailleA){
    @media #{$large-down}{
        h2{
            font-size: $tailleH;
        }
        p{
            font-size: $tailleP;
        }
        a{
            font-size: $tailleA;
        }
    }
}
